* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("../public/images/white-cat-in-the-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-center {
    text-align: center;
}

/* Home page style start */

.home-section {
    width: 800px;
    background: rgba(0, 0, 0, 0.8);
    border: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    color: #fff;
    padding: 60px 40px;
    margin: 0 10px;
}

.home-section h1 {
    font-size: 36px;
    text-align: center;
}

.home-section p {
    font-size: 18px;
    text-align: center;
}

/* Home page style end */

/* Card style start */

.cards-main {
    padding: 40px 120px;
    min-height: 80vh;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 24px 2%;
    width: 25%;
    margin-bottom: 48px;
    background: rgba(0, 0, 0, 0.9);
    border: rgba(0, 0, 0, 1);
    border-radius: 10px;
    color: #fff;
}

.card-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1.5/1;
}

.card-image-container img {
    border-radius: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.card-info a {
    text-align: center;
    width: 40%;
    min-width: fit-content;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    padding: 3px;
    transition: 0.2s;
}

.card-info a:hover {
    width: 42%;
    transition: 0.2s;
}

.card-info a:active {
    width: 40%;
    background: rgb(36, 38, 184);
    color: #fff;
}

@media (max-width: 900px) {
    .cards-main {
        padding: 24px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

/* Card style end */

/* Form style start */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-container {
    width: 750px;
    background: rgba(0, 0, 0, 0.8);
    border: rgba(0, 0, 0, 0.9);
    /* Decide to use blur or not */
    /* backdrop-filter: blur(50px); */
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
    margin: 0 10px;
}

.form-container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

/* can we remove the first class? */
.form-container .input-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container .input-field {
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
}

.form-container .input-field input,
select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.form-container .input-field select {
    text-transform: capitalize;
}

.form-container .input-field select option {
    color: #333;
}

.form-container .input-field input::placeholder {
    color: #fff;
}

.form-container .input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.form-container label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.form-container label input {
    accent-color: #fff;
    margin-right: 5px;
}

.form-container label a {
    text-decoration: underline;
    color: #6666c9;
}

.form-container .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.form-container .btn:disabled {
    color: #d6d1d1;
}

@media (max-width: 576px) {
    .form-container {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .input-section .input-field {
        width: 100%;
        margin: 10px 0;
    }
}

/* Form style end */

.not-authenticated-message {
    text-align: center;
}

.not-authenticated-message p {
    font-size: 24px;
}

.terms-section {
    width: 800px;
    background: rgba(0, 0, 0, 0.8);
    border: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    color: #fff;
    padding: 60px 40px;
    margin: 20px 10px;
}

.terms-section h1 {
    font-size: 36px;
    text-align: center;
}

.terms-section h3 {
    font-size: 24px;
}

.terms-section p {
    font-size: 18px;
}

.terms-section span {
    font-weight: bold;
}

.details-main {
    align-items: center;
    min-height: 80vh;
}

.details-section {
    width: 80vw;
    background: rgba(0, 0, 0, 0.8);
    border: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    color: #fff;
    padding: 60px 40px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.details {
    width: 40%;
}

.details-image-container {
    width: 50%;
    position: relative;
    aspect-ratio: 1.3/1;
}

.details h3 {
  font-size: 32px;
  text-transform: capitalize;
}

.details p {
  font-size: 24px;
}

@media (max-width: 900px) {
    .details-section {
        flex-direction: column;
    }

    .details-image-container {
        width: 100%;
        margin-bottom: 30px;
    }

    .details h3 {
        font-size: 24px;
    }

    .details p {
        font-size: 18px;
    }
}

.search-result {
    margin-top: 24px;
    text-align: center;
}

.pagination-section {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-section article {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-section article a {
    color: #fff;
}